*{
    margin : 0; 
    padding : 0; 
    box-sizing: border-box;
    font-family: cursive;
}

body{
    background: #334155;
    padding : 2%; 
    min-width: 380px; 
}

h1{
    text-align: center;
    color: #ffff;
    font-weight: 800;

}

/* .container{
    width: 610px;
    min-height: 510px;
    margin : 4% auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: linear-gradient(148deg, rgba(235,0,246,0.9837184873949579) 14%, rgba(95,63,185,1) 58%);;
    transition: all ease-in-out;
    animation: rgb 0.1s linear alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
} */

/* .container{
    margin : 4% auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 610px;
    height: 510px;
    background: conic-gradient(
        #fd004c, 
        #fe9000, 
        #fff020, 
        #3edf4b, 
        #3363ff, 
        #b102b7, 
        #fd004c
    );
} */
.container{
    margin : 4% auto;
    position: relative;
    overflow: hidden;
    width: 610px;
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.msgs-container{
    background-color: #4d5c68;
    width: 600px;
    min-width: 350px;
    min-height: 500px;
    margin : 0 auto 0 auto;
    border-radius: 10px;
    position : relative; 
    padding : 15px 10px; 
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.msgs-container::before{
    position: absolute;
    left: -5px;
    top : -5px; 
    content : "";  
    border-radius: 8px;
    width: 610px;
    height: 510px;
    background: conic-gradient(
        #fd004c, 
        #fe9000, 
        #fff020, 
        #3edf4b, 
        #3363ff, 
        #b102b7, 
        #fd004c
    );
    z-index: -10;
    overflow: hidden;
} 

.msgs-container::after{
    position: absolute;
    left: -50%;
    top : -50%; 
    content : "";  
    border-radius: 8px;
    width: 200%;
    height: 200%;
    background: conic-gradient(
        #fd004c, 
        #fe9000, 
        #fff020, 
        #3edf4b, 
        #3363ff, 
        #b102b7, 
        #fd004c
    );
    z-index: -1;
    animation-name : rotate;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    overflow: hidden;
} 

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

.inputs{
    width: 100%;
    position: absolute;
    bottom : 0;
    left : 0; 
    
}

#msg, .inputs button{
    height: 40px;
    border: none;
    outline : none;
}
#msg{
    width : 90%; 
    border-bottom-left-radius: 10px;
    padding : 0 2%; 
    opacity : 0.8
}

.inputs button{
    width : 10%; 
    border-bottom-right-radius: 10px;
    background-color: #142e41;
    color: white;
}

.singleMsg{
    background-color: #a5b4fc;
    margin: 8px 0;
    padding : 6px 10px; 
    width: 50%;
    border-radius: 4px;
}

@media (max-width : 630px) {
    .msgs-container{
        width: 400px;
    }
}


@media (max-width : 410px) {
    .msgs-container{
        width : 300px; 
    }
}