*{
    margin : 0; 
    padding : 0; 
    box-sizing: border-box;
}

body{
    background: #334155;
    padding : 2%; 
    min-width: 380px; 
}

h1{
    text-align: center;
    color: #ffff;
    font-family: cursive;
    font-weight: 800;

}

/* .container{
    width: 610px;
    min-height: 510px;
    margin : 4% auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: linear-gradient(148deg, rgba(235,0,246,0.9837184873949579) 14%, rgba(95,63,185,1) 58%);;
    transition: all ease-in-out;
    animation: rgb 0.1s linear alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
} */

.container{
    margin-top : 4%; 
}

/* @keyframes rgb {
    0% {
        background: linear-gradient(148deg, rgba(235, 0, 246, 0.9837184873949579) 14%, rgba(95, 63, 185, 1) 58%);
    }
    5% {
        background: linear-gradient(148deg, rgba(225, 10, 236, 0.967) 14%, rgba(92, 69, 179, 1) 58%);
    }
    10% {
        background: linear-gradient(148deg, rgba(216, 20, 225, 0.952) 14%, rgba(88, 75, 173, 1) 58%);
    }
    15% {
        background: linear-gradient(148deg, rgba(206, 31, 215, 0.938) 14%, rgba(85, 81, 166, 1) 58%);
    }
    20% {
        background: linear-gradient(148deg, rgba(197, 41, 204, 0.924) 14%, rgba(81, 88, 160, 1) 58%);
    }
    25% {
        background: linear-gradient(148deg, rgba(187, 51, 194, 0.909) 14%, rgba(77, 95, 153, 1) 58%);
    }
    30% {
        background: linear-gradient(148deg, rgba(178, 61, 183, 0.895) 14%, rgba(73, 102, 147, 1) 58%);
    }
    35% {
        background: linear-gradient(148deg, rgba(168, 71, 173, 0.881) 14%, rgba(69, 109, 141, 1) 58%);
    }
    40% {
        background: linear-gradient(148deg, rgba(159, 82, 162, 0.866) 14%, rgba(65, 116, 135, 1) 58%);
    }
    45% {
        background: linear-gradient(148deg, rgba(149, 92, 152, 0.852) 14%, rgba(61, 122, 129, 1) 58%);
    }
    50% {
        background: linear-gradient(148deg, rgba(140, 102, 141, 0.838) 14%, rgba(57, 129, 123, 1) 58%);
    }
    55% {
        background: linear-gradient(148deg, rgba(130, 112, 131, 0.823) 14%, rgba(53, 135, 116, 1) 58%);
    }
    60% {
        background: linear-gradient(148deg, rgba(121, 122, 121, 0.809) 14%, rgba(49, 142, 109, 1) 58%);
    }
    65% {
        background: linear-gradient(148deg, rgba(111, 132, 111, 0.795) 14%, rgba(45, 149, 103, 1) 58%);
    }
    70% {
        background: linear-gradient(148deg, rgba(102, 142, 100, 0.780) 14%, rgba(41, 156, 96, 1) 58%);
    }
    75% {
        background: linear-gradient(148deg, rgba(92, 152, 90, 0.766) 14%, rgba(37, 171, 90, 1) 58%);
    }
    80% {
        background: linear-gradient(148deg, rgba(83, 162, 79, 0.752) 14%, rgba(33, 185, 85, 1) 58%);
    }
    85% {
        background: linear-gradient(148deg, rgba(73, 172, 69, 0.737) 14%, rgba(29, 198, 80, 1) 58%);
    }
    90% {
        background: linear-gradient(148deg, rgba(64, 182, 59, 0.723) 14%, rgba(25, 214, 76, 1) 58%);
    }
    95% {
        background: linear-gradient(148deg, rgba(54, 192, 49, 0.708) 14%, rgba(21, 227, 73, 1) 58%);
    }
    100% {
        background: linear-gradient(148deg, rgba(45, 202, 38, 0.694) 14%, rgba(17, 241, 81, 1) 58%);
    }
    }
     */

/* .msgs-container::before{
    position: absolute;
    left: 0;
    top : 0; 
    content : ""; 
    width: 300px;
    height: 250px;
    background: linear-gradient(148deg, rgba(45, 202, 38, 0.694) 14%, rgba(17, 241, 81, 1) 58%);
}
.msgs-container::after{
    position: absolute;
    right: 0;
    bottom : 0; 
    content : ""; 
    width: 300px;
    height: 250px;
    background: linear-gradient(148deg, rgba(45, 202, 38, 0.694) 14%, rgba(17, 241, 81, 1) 58%);
}
 */

.msgs-container{
    background-color: #4d5c6894;
    width: 600px;
    min-width: 350px;
    min-height: 500px;
    margin : 0 auto 0 auto;
    border-radius: 10px;
    position : relative; 
    padding : 15px 10px; 
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.inputs{
    width: 100%;
    position: absolute;
    bottom : 0;
    left : 0; 
    
}

#msg, .inputs button{
    height: 40px;
    border: none;
    outline : none;
}
#msg{
    width : 90%; 
    border-bottom-left-radius: 10px;
    padding : 0 2%; 
    opacity : 0.8
}

.inputs button{
    width : 10%; 
    border-bottom-right-radius: 10px;
    background-color: #142e41;
    color: white;
}

.singleMsg{
    background-color: #a5b4fc;
    margin: 8px 0;
    padding : 6px 10px; 
    width: 50%;
    border-radius: 4px;
}

@media (max-width : 630px) {
    .msgs-container{
        width: 400px;
    }
}


@media (max-width : 410px) {
    .msgs-container{
        width : 300px; 
    }
}